.container {
  // height: 20rem;
  width: 14rem !important;
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgb(131, 204, 202);
  margin: 1rem;
  border-radius: 0.2rem;
  .details {
    text-align: center;
  }
  .noImage {
    height: 15.1rem;
    width: 10rem;
    background: brown;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
