.movieList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.4rem;
  overflow-y: scroll;
  height: 84vh;
  .noData {
    text-align: center;
    height: 84vh;
    width: 100%;
  }
}
