@import './colors.scss';

.appContainer {
  height: 100vh;
  width: 100vw;
  &.light {
    background: $background-color;
    color: $text;
    > div {
      color: $text;
    }
    > label {
      color: $text;
    }
  }

  &.dark {
    background: $background-color-dark;
    color: $text-dark;
    > div {
      color: $text-dark;
    }
    > label {
      color: $text-dark;
    }
  }
}

// > div {
//   color: $text-dark;
// }
// > label {
//   color: $text-dark;
// }
